/* fonts */
/* font-family: 'Special Elite', cursive;
font-family: 'Baumans', cursive;
font-family: 'Kurale', serif;
font-family: 'Tulpen One', cursive;
font-family: 'Rakkas', cursive;
font-family: 'MedievalSharp', cursive; */

.logo-search-header img{
    height: 90px;
}

.logoContainer{
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.logo{
    width: 20vw;
    height: 15vw;
}

.header{
    color: #969696;
}

.header .login-nav-bar{
    height: 2rem;
}

.login-nav-bar{
    font-family: 'Special Elite', cursive;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

