/* for later */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* fonts */
/* font-family: 'Special Elite', cursive;
font-family: 'Baumans', cursive;
font-family: 'Kurale', serif;
font-family: 'Tulpen One', cursive;
font-family: 'Rakkas', cursive;
font-family: 'MedievalSharp', cursive; */


